<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!--配置JPA的entityManagerFactory-->
    <bean name="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="hikariDataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <!--配置jpa扫描包实体类包-->
        <property name="packagesToScan" value="org.example.demo.jpa.entity"/>
        <!--JPA属性-->
        <property name="jpaProperties">
            <props>
                <!-- 5.0之前 生成的数据表的列的映射策略 与java一致-->
                <!--<prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>-->
                <!-- 5.0 生成的数据表的列的映射策略 下划线-->
                <!--SpringImplicitNamingStrategy 自定义类 springboot中jpa生成策略-->
                <!--SpringPhysicalNamingStrategy 自定义类 springboot中jpa生成策略-->
                <prop key="hibernate.implicit_naming_strategy">
                    org.hibernate.boot.model.naming.SpringImplicitNamingStrategy
                </prop>
                <prop key="hibernate.physical_naming_strategy">
                    org.hibernate.boot.model.naming.SpringPhysicalNamingStrategy
                </prop>
                <!-- hibernate 基本属性 -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--懒加载-->
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
                <!--二级缓存配置-->
                <!--开启二级缓存-->
                <prop key="hibernate.use_second_level_cache">true</prop>
                <!--单例模式-->
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
                <!--使用缓存查询-->
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <!--查看是否使用了缓存-->
                <!--<prop key="hibernate.generate_statistics">true</prop>-->
                <prop key="net.sf.ehcache.configurationResourceName">ehcache.xml</prop>
            </props>
        </property>
    </bean>

    <!--配置事务管理器-->
    <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <!--配置支持事务注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--配置Spring data-->
    <!--加入jpa命名空间-->
    <!--base-package 用于扫描 repository bean所在的路径-->
    <jpa:repositories base-package="org.example.demo.jpa.repository"
                      entity-manager-factory-ref="entityManagerFactory">

    </jpa:repositories>
</beans>